[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/RomeoCavazza/setup-os.wiki.git

[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/RomeoCavazza/nvim-config.git
