[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:RomeoCavazza/nvim-config.git
[submodule "config/conky"]
	path = config/conky
	url = git@github.com:RomeoCavazza/conky-config.git
[submodule "config/grafana"]
	path = config/grafana
	url = git@github.com:RomeoCavazza/grafana-config.git
[submodule "config/doom"]
	path = config/doom
	url = git@github.com:RomeoCavazza/emacs-config.git
