[Desktop Entry]
Version=1.0
Type=Application
Name=Cursor
GenericName=AI Code Editor
Comment=Built for AI coding
Exec=/home/tco/.local/bin/cursor %U
TryExec=/home/tco/.local/bin/cursor
Terminal=false
Categories=Development;TextEditor;IDE;
StartupNotify=true
Icon=/home/tco/.local/share/icons/cursor-icon.png
